<div class="flex flex-wrap w-full h-full gap-y-1">
  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Time Machine Detail</p>
      <div>
        <label for="date">
          <img src="../../assets/date.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>
  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Layout Machine Area</p>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>
  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Maintenance</p>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>
  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Machine Activity</p>
      <div>
        <label for="date">
          <img src="../../assets/date.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>

  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Machine Activity</p>
      <div>
        <label for="date">
          <img src="../../assets/date.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>

  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Production Graph (Fine Boring)</p>
      <div>
        <label for="date">
          <img src="../../assets/date.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>
  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Voltage (FR 1)</p>
      <div>
        <label for="date">
          <img src="../../assets/date.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>
  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Ampere (FR 1)</p>
      <div>
        <label for="date">
          <img src="../../assets/date.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>
  <div
    class="block w-[30%] h-[30%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">5 Top Frequency Machine Alarm</p>
      <div>
        <label for="date">
          <img src="../../assets/date.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>
</div>
