<div class="flex flex-wrap w-full h-full gap-y-1 justify-evenly">
  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Time Machine Detail</p>
      <div>
        <label for="date">
          <img src="../../assets/date.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2 flex gap-4">
      <div [chart]="timechart" class="h-[250px] w-2/3"></div>
      <div class="w-[33%] h-[250px] flex flex-col justify-between">
        <p class="mb-1">MTTR | MTBF</p>
        <div class="bg-sky-700 mb-1 w-full h-[40%] p-2 rounded-lg shadow-sm">
          <p class="text-[8px]">MTTR</p>
          <p class="text-xl my-2">1,020 Hours</p>
          <div class="text-[10px]">
            <p>1,31 Hours</p>
            <p>Target MTTR</p>
          </div>
        </div>
        <div class="bg-green-500 mb-1 w-full h-[40%] p-2 rounded-lg shadow-sm">
          <p class="text-[8px]">MTBF</p>
          <p class="text-xl my-2">150,8 Hours</p>
          <div class="text-[10px]">
            <p>199,8 Hours</p>
            <p>Target MTTR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="text-center">
      <p class="text-lg">Layout Machine Area</p>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>
  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="text-center">
      <p class="text-lg">Maintenance</p>
    </div>
  </div>
  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Machine Activity</p>
      <div>
        <label for="date">
          <img src="../../assets/weekly.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <canvas id="timeMachine"></canvas>
    </div>
  </div>

  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="w-full mt-2">
      <div
        [chart]="MTTRchart"
        class="w-full h-[130px] border-b border-white"
      ></div>
      <div [chart]="MTBFchart" class="w-full h-[130px]"></div>
    </div>
  </div>

  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Production Graph (Fine Boring)</p>
      <div>
        <label for="date">
          <img src="../../assets/weekly.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <div [chart]="productionChart" class="h-[250px]"></div>
    </div>
  </div>
  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Voltage (FR 1)</p>
      <div>
        <label for="date">
          <img src="../../assets/monthly.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <div [chart]="voltageChart" class="h-[250px]"></div>
    </div>
  </div>
  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">Ampere (FR 1)</p>
      <div>
        <label for="date">
          <img src="../../assets/monthly.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <div [chart]="ampereChart" class="h-[250px]"></div>
    </div>
  </div>
  <div
    class="block w-[33%] h-[33%] p-6 bg-main text-white border border-man-200 rounded-lg shadow"
  >
    <div class="flex justify-between items-center">
      <p class="text-lg">5 Top Frequency Machine Alarm</p>
      <div>
        <label for="date">
          <img src="../../assets/monthly.svg" />
          <input type="date" name="date" id="date" hidden />
        </label>
      </div>
    </div>
    <div class="w-full mt-2">
      <div [chart]="frequentChart" class="h-[250px]"></div>
    </div>
  </div>
</div>
