<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    appStyle
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      ><img class="mx-auto mb-2" src="../../assets/iconfcc.svg"
    /></mat-toolbar>
    <mat-nav-list appCustomHeight>
      <a class="" routerLink="">
        <img
          class="mx-auto mb-2"
          class="mx-auto mb-2"
          src="../../assets/dahsboard.svg"
        />
        <p class="text-white text-center">Dashboard</p>
      </a>
    </mat-nav-list>
    <mat-nav-list appCustomHeight>
      <a mat-list-item routerLink="/detail">
        <img class="mx-auto mb-2" src="../../assets/detail.svg" />
        <p class="text-white text-center">Detail</p>
      </a>
    </mat-nav-list>
    <mat-nav-list appCustomHeight>
      <a mat-list-item routerLink="/maintanace">
        <img class="mx-auto mb-2" src="../../assets/maintanance.svg" />
        <p class="text-white text-center">Maintenance</p>
      </a>
    </mat-nav-list>
    <mat-nav-list appCustomHeight>
      <a mat-list-item routerLink="/masterdata">
        <img class="mx-auto mb-2" src="../../assets/masterdata.svg" />
        <p class="text-white text-center">Master Data</p>
      </a>
    </mat-nav-list>
    <mat-nav-list appCustomHeight>
      <a mat-list-item routerLink="/activityuser">
        <img class="mx-auto mb-2" src="../../assets/activityuser.svg" />
        <p class="text-white text-center">Activity User</p>
      </a>
    </mat-nav-list>
    <mat-nav-list appCustomHeight>
      <a mat-list-item routerLink="/managementuser">
        <img class="mx-auto mb-2" src="../../assets/managementuser.svg" />
        <p class="text-white text-center">Management User</p>
      </a>
    </mat-nav-list>
    <mat-nav-list appCustomHeight>
      <a mat-list-item routerLink="/account">
        <img class="mx-auto mb-2" src="../../assets/account.svg" />
        <p class="text-white text-center">Account</p>
      </a>
    </mat-nav-list>
    <mat-nav-list appCustomHeight>
      <a mat-list-item routerLink="/settings">
        <img class="mx-auto mb-2" src="../../assets/settings.svg" />
        <p class="text-white text-center">Settings</p>
      </a>
    </mat-nav-list>
    <mat-nav-list appCustomHeight>
      <a mat-list-item routerLink="/logout">
        <img class="mx-auto mb-2" src="../../assets/logout.svg" />
        <p class="text-white text-center">Log Out</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="justify-between items-center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="">{{ title | uppercase }}</span>
      <span class="float-right">{{
        date | date : "EEEE, d MMMM YYYY | H:MM:SS" | uppercase
      }}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
